
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs and databases
*.log
*.sqlite3

# Ignore large files if needed (not recommended if tracked with Git LFS)
# path/to/large/file1
# path/to/large/file2

# Other
*.mp4
*.mkv
*.lock
